  <section>
<div class="container">
  <div class="row mt-4">
    <a href="admin/add-products/" class="btn btn-primary ml-auto">Add Product</a>
  </div>
  <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">NO.</th>
      <th scope="col">Name</th> 
      <th scope="col">Category</th>
      <th scope="col">Decription</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>

      
      
    </tr>
  </thead>
  <tbody>
    {{#each poweramp}}
    <tr>
      <th scope="row">*</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Info}}</td>
      <td>{{this.Price}}</td>
      <td><img style=" width:150px;height:80px "src="/product-images/{{_id}}.jpg"></td>
      <td>
        <a href="/admin/edit-product/" class="btn btn-info">Edit</a>
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you Want To Delete {{this.name}} ?')">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>




</div>
</section>